::-moz-selection {
  color: red;
  background: lime;
}

::selection {
  color: red;
  background: lime;
}

body {
  background-color: black;
  background-image: url(../images/bg.jpg);
  background-size: cover;
  color: white;
  font-family: Roboto;
  padding-left: 10%;
  padding-right: 10%;
}

h1 {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  text-align: center;
  font-size: 4em;
  font-weight: lighter;
  font-weight: 800;
  -webkit-text-stroke: 3px black;
}

h2 {
  font-family: PlayfairDisplay;
  text-align: center;
  font-size: 2em;
  font-style: italic;
  font-weight: lighter;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  -webkit-text-stroke: 1px black;
}

p {
  text-align: justify;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  border-radius: 0.2em;
  background-color: brown;
  line-height: 2.7;
}

#ps {
  font-size: 0.8em;
  background-color: transparent;
  text-align: justify;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  border-radius: 0.2em;
  line-height: 2.7;
}

table {
  width: 100%;
  text-align: center;
}

div {
  margin: 1em;
}

#acceuil {
  height: 20em;
  width: 100%;
  object-fit: cover;
}

.image {
  width: 20em;
  border: 5px solid brown;
  border-radius: 50%;
}

.titre {
  background-image: url(../images/acceuil.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30em;
}

a.button {
  width: 15em;
  height: 3em;
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid yellow;
  margin: 0.3em;
  border-radius: 50%;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-style: italic;
  font-weight: 500;
  font-size: 1.5em;
  font-weight: bolder;
  color: yellow;
  -webkit-text-stroke: 1px brown;
  text-align: center;
  text-decoration: underline yellow;
}
a.button:hover {
  background-color: brown;
}

p, h2 {
-webkit-animation:flip 2s ease 0s 1 normal;
-moz-animation:flip 2s ease 0s 1 normal;
-ms-animation:flip 2s ease 0s 1 normal;
animation:flip 2s ease 0s 1 normal;
}

h1, .image, img {
-webkit-animation:rotate 2s linear 0s 1 normal;
-moz-animation:rotate 2s linear 0s 1 normal;
-ms-animation:rotate 2s linear 0s 1 normal;
animation:rotate 2s linear 0s 1 normal;
}

a.button{
  -webkit-animation:zoom-in-out 1s linear 0.5s 1 normal;
  -moz-animation:zoom-in-out 1s linear 0.5s 1 normal;
  -ms-animation:zoom-in-out 1s linear 0.5s 1 normal;
  animation:zoom-in-out 1s linear 0.5s 1 normal;
}

@-webkit-keyframes rotate {
100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes rotate {
100%{ transform: rotate(360deg); }
}

@-webkit-keyframes zoom-in-out {
0%{ -webkit-transform: scale(1); transform: scale(1); }
50%{ -webkit-transform: scale(1.2); transform: scale(1.2); transform: rotate(-10deg); }
100%{ -webkit-transform: scale(1); transform: scale(1); }
}

@keyframes zoom-in-out {
0%{ -ms-transform: scale(1); transform: scale(1); }
50%{ -ms-transform: scale(1.2); transform: scale(1.2); transform: rotate(-10deg); }
100%{ -ms-transform: scale(1); transform: scale(1); }
}

@-webkit-keyframes flip {
0%{ -webkit-transform: translateY(0); transform: rotateY(0deg); }
50%{ -webkit-transform: translateY(180); transform: rotateY(180deg); }
100%{ -webkit-transform: translateY(0); transform: rotateY(0deg); }
}

@keyframes flip {
0%{ transform: rotateY(0deg); }
50%{ transform: rotateY(180deg); }
100%{ transform: rotateY(0deg); }
}
