@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@font-face {
  font-family: Parisienne-Regular;
  src: url(../fonts/Parisienne-Regular.ttf);
}
@font-face {
  font-family: PlayfairDisplay;
  src: url(../fonts/PlayfairDisplay-VariableFont_wght.ttf);
}

body {
  background-color: black;
  color: white;
  font-family: Roboto;
  padding-left: 10%;
  padding-right: 10%;
}

h1 {
  font-family: PlayfairDisplay;
  text-align: center;
  font-size: 4em;
  font-weight: lighter;
}

h2 {
  font-family: PlayfairDisplay;
  text-align: center;
  font-size: 2em;
  font-weight: lighter;
}

p {
  text-align: justify;
  color: rgba(255, 255, 255, 0.5);
}

table {
  width: 100%;
  text-align: center;
}

td {
  padding: 1em;
}

div {
  margin: 1em;
}

#acceuil {
  height: 20em;
  width: 100%;
  object-fit: cover;
}

.image {
  width: 20em;
}

.back {
  background-image: url(../images/acceuil.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12em;
}

.titre {
  background-image: url(../images/acceuil.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30em;
}

.feuillus {
  background-image: url(../images/feuillus.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12em;
}

.resineux {
  background-image: url(../images/resineux.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12em;
}

.animaux {
  background-image: url(../images/animaux.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12em;
}

.champignons {
  background-image: url(../images/champignons.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12em;
}

a.button {
  width: 12em;
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #FFFFFF;
  margin: 0.3em;
  border-radius: 0.2em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.5em;
  color: #FFFFFF;
  text-align: center;
  transition: all 0.2s;
}
a.button:hover {
  color: #000000;
  background-color: #FFFFFF;
}

@media all and (max-width:30em) {
  a.button {
    display: block;
    margin: 0.4em auto;
  }
}
